body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.title{
  text-align: center;
  text-shadow: 1px 1px 1px hsl(0, 0%, 39%);
}

.block{
  display: flex;
  flex-direction: column;
  gap:10px;
  box-shadow: 0 0 7px black;
  border-radius: 15px;
  padding:25px;
  margin-bottom: 20px;
  min-width: 600px;
}
